@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

:root {
    --primary-color: #4A0A85;
    --secondary-color: #D3D3D3;
    --tertiary-color: #E0E0E0;
    --light-color: #FFFFFF;
    --dark-color: #000000;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* #region Common */
section {
    padding: 0 10%;
}

.content-label h6 {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 0.8rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2.4rem;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: var(--light-color);
    /* border-radius: 0.6rem; */
    /* box-shadow: 0 0.2rem 0.5rem var(--tertiary-color); */
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--light-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-secondary.active {
    background-color: var(--primary-color);
    color: var(--light-color);
}


/* #endregion */

/* #region Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: 0 0.1rem 0.3rem var(--dark-color);
    z-index: 10;
}

.logo {
    font-size: 2.1rem;
    font-weight: 600;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.nav-bar {
    overflow: hidden;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding-right: 1.5rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.2rem;
    color: var(--dark-color);
    font-weight: 500;
}

.nav-links li a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--primary-color);
}

.nav-links li a:hover {
    color: var(--primary-color);
}
/* #endregion */

/* #region Home */
.home-content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-side {
    max-width: 50%;
}

.home-side h3 {
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 0.5;
}

.home-side h1 {
    font-size: 5.1rem;
    font-weight: 700;
}

.home-side p {
    font-size: 1.1rem;
}

.home-picture {
    margin-left: auto;
    height: 35rem;
    width: 35rem;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    border-radius: 50%;
}

/* .home-picture img {
    height: 40rem;
    margin: auto;
    width: 40rem;
    border-radius: 20%;
} */

.home-overlay-primary {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    border: 50vh solid var(--primary-color);
    border-top: 50vh solid transparent;
    border-left: 50vh solid transparent;

    z-index: -1;
}

.home-overlay-secondary {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    border: 52vh solid var(--secondary-color);
    border-top: 52vh solid transparent;
    border-left: 52vh solid transparent;
    z-index: -2;
}

.home-overlay-tertiary {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    border: 54vh solid var(--tertiary-color);
    border-top: 54vh solid transparent;
    border-left: 54vh solid transparent;
    z-index: -3;
}
/* #endregion */

/* #region Stats */
.stats-content {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stats-days, #stats-hours, #stats-minutes, #stats-seconds {
    color: var(--primary-color);
}

.stats-content h1 {
    font-size: 3rem;
}
/* #endregion */

/* #region About */
.about {
    background-color: var(--primary-color);
}

.about-content {
    height: 65vh;
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.about-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.about-side .content-label {
    margin: auto;
    text-align: center;
}

.about-main {
    width: 60%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.about-main-content {
    display: none;
}

.about-main-content.active {
    display: block;
}
/* #endregion */

/* #region Resume */
.resume-content {
    min-height: 100vh;
    padding: 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;

}

.resume-column {
    width: 50%;
    margin-bottom: auto;
}

.resume-box {
    position: relative;
    border-left: 2px solid var(--primary-color);
    padding-bottom: 2rem;
}

.resume-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.resume-box-container {
    padding-left: 2rem;
}

.resume-box-content {
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.resume-box-content h5{
    color: var(--primary-color);
}
/* #endregion */

/* #region Showcase */
.showcase {
    background-color: var(--primary-color);
}

.showcase-content {
    min-height: 100vh;
    padding: 7% 0;
    display: flex;
    flex-direction: column;
}

.showcase-content > .content-label {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-color);
}

.showcase-content > .content-label h6 {
    color: var(--secondary-color);
}

.showcase-content > .content-label h1 {
    color: var(--light-color);
}

.showcase-items {
    display: flex;
    flex-direction: column;
}

.showcase-box {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.showcase-box-side {
    width: 30%;
    padding: 1%;
    background-color: var(--secondary-color);
}

.showcase-box-side img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.showcase-box-main {
    width: 70%;
    padding: 2% 5%;
    background-color: var(--light-color);
}
/* #endregion */

/* #region Contact */
.contact-content {
    min-height: 90vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.contact-content > .content-label {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1% 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

.contact-side {
    width: 40%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    background-color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.contact-main {
    width: 60%;
    padding: 5%;
    border: 1px solid var(--primary-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    border-radius: 3px;
}

.contact-form input, .contact-form textarea {
    padding: 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border-radius: 3px;
}

.contact-form textarea{
    min-height: 10rem;
}

.contact-form-input label {
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 0;
    color: var(--primary-color);
    pointer-events: none;
    transition: all 0.25s ease;
}

.contact-form input:focus ~ label, 
.contact-form textarea:focus ~ label,
.contact-form input:not(:placeholder-shown) ~ label, 
.contact-form textarea:not(:placeholder-shown) ~ label
 {
    font-size: 0.75em;
    color: var(--primary-color);
    top: -1rem;
    left: -1rem;
    transition: all 0.225s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: 0;
}

/* #endregion */

/* #region Footer */
footer {
    background-color: var(--primary-color);
}

.footer-content {
    min-height: 10vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-color);
}

.footer-socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-socmed p {
    padding: 0.5rem 1rem;
}

.footer-info {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--light-color);
}
/* #endregion */

@media only screen and (max-width : 768px) {
    /* #region Header */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 1.4rem;
        height: 3px;
        margin: 6px 0;
        background-color: var(--dark-color);
    }

    .nav-bar {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        /* transition: 0.2s; */
    }

    .nav-bar.active {
        height: max-content;
        background-color: var(--light-color);
        border-top: solid 2px var(--tertiary-color);
        box-shadow: 0 0.1rem 0.3rem var(--dark-color);
    }

    .nav-links li {
        display: block;
        width: fit-content;
        margin: 2rem auto;
        padding: 0;
        text-align: center;
    }
    /* #endregion */
}