@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

:root {
    --primary-color: #4A0A85;
    --secondary-color: #D3D3D3;
    --tertiary-color: #E0E0E0;
    --light-color: #FFFFFF;
    --dark-color: #000000;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* #region Common */
section {
    scroll-margin-top: 10vh;
}

section > div {
    padding: 5% 10%;
}

.content-label h6 {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 0.8rem;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 0.8rem 0;
    border-style: none;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-sm {
    width: 35%;
}

.btn-primary {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: var(--light-color);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--light-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}
/* #endregion */

/* #region Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 10vh;
    max-height: 10vh;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 2.1rem;
    font-weight: 600;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.nav-bar {
    overflow: hidden;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding-right: 1.5rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.2rem;
    color: var(--light-color);
    font-weight: 500;
    user-select: none;
}

.nav-links li a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--primary-color);
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

header.colored {
    background-color: var(--light-color);
    box-shadow: 0 0.1rem 0.3rem var(--dark-color);
}

.nav-links li a.colored {
    color: var(--dark-color);
}
/* #endregion */

/* #region Home */
.home-content {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-side {
    height: 100vh;
    width: 55vw;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.home-side h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.home-side h1 {
    line-height: 100%;
    font-size: 5rem;
    font-weight: 700;
}

.home-side h3 {
    color: var(--primary-color);
    font-size: 1.75rem;
}

.home-side p {
    font-size: 1.2rem;
}

.home-main {
    height: 100vh;
    width: 45vw;
    display: flex;
}

.home-picture {
    height: 45%;
    margin: auto;
    padding-right: 10%;
}

.home-picture img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.home-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-overlay.primary {
    /* clip-path: polygon(100% 5%, 50% 100%, 100% 100%); */
    /* clip-path: polygon(100% 0, 100% 100%, 46% 100%, 98% 10%, 92% 0); */
    /* clip-path: polygon(100% 0, 100% 100%, 90% 100%, 98% 90%, 46% 0); */
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 99%, 84% 99%, 94% 84%, 46% 0);
    background-color: var(--primary-color);
    z-index: -10;
}

.home-overlay.secondary {
    /* clip-path: polygon(100% 2.5%, 47.5% 100%, 100% 100%); */
    /* clip-path: polygon(100% 0, 100% 100%, 44% 100%, 96% 10%, 90% 0); */
    clip-path: polygon(100% 0, 100% 100%, 81.5% 100%, 92% 84%, 44% 0);
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 98%, 84% 98%, 92% 85.5%, 44% 0); */
    background-color: var(--secondary-color);
    z-index: -11;
}

.home-overlay.tertiary {
    /* clip-path: polygon(100% 0, 45% 100%, 100% 100%); */
    /* clip-path: polygon(100% 0, 100% 100%, 42% 100%, 94% 10%, 88% 0); */
    clip-path: polygon(100% 0, 100% 100%, 79.5% 100%, 90% 84%, 42% 0);
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 97%, 84% 97%, 90% 87%, 42% 0); */
    background-color: var(--tertiary-color);
    z-index: -12;
}
/* #endregion */

/* #region About */
.about {
    background-color: var(--primary-color);
}

.about-content {
    min-height: 65vh;
    display: flex;
    flex-direction: row;
}

.about-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.about-side .content-label {
    margin: auto;
    text-align: center;
}

.about-main {
    width: 60%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--light-color);
}

.about-main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-main-content {
    display: none;
}

.about-main-content p {
    text-align: justify;
}

.about-main-content.active {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#about-info-1 .details {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about-info-1 .details p {
    width: 50%;
    padding: 0.1rem 0;
}

#about-info-1 button {
    margin-top: 1.2rem;
}

#about-info-2 .tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

#about-info-2 .tech-container img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
}

#about-info-2 .tech-container img:hover {
    transform: scale(1.2);
}
/* #endregion */

/* #region Stats */
.stats-content {
    min-height: 25vh;
    /* padding-top: 2.5vh; */
    /* padding-bottom: 2.5vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.stats-main {
    padding: 2.5% 0;
    border: 2px solid var(--primary-color);
    border-radius: 0.4rem;
    box-shadow: var(--primary-color) 1.95px 1.95px 2.6px;
}

#stats-days, #stats-hours, #stats-minutes, #stats-seconds {
    color: var(--primary-color);
}

.stats-content h2 {
    font-size: 2rem;
    font-weight: 500;
}
.stats-content h1 {
    font-size: 3rem;
}
/* #endregion */

/* #region Resume */
.resume-content {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.resume-column {
    width: 50%;
    margin-bottom: auto;
}

.resume-column > .content-label {
    margin-bottom: 1rem;
}

.resume-box {
    position: relative;
    border-left: 2px solid var(--primary-color);
    padding-bottom: 2rem;
}

.resume-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.resume-box-container {
    padding-left: 2rem;
}

.resume-box-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.4rem;
}

.resume-box-content h5 {
    color: var(--primary-color);
}

.resume-box-content .tag {
    width: fit-content;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 0.4rem;

}
/* #endregion */

/* #region Showcase */
.showcase {
    background-color: var(--primary-color);
}

.showcase-content {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.showcase-content > .content-label {
    border-bottom: 1px solid var(--light-color);
}

.showcase-content > .content-label h6 {
    color: var(--secondary-color);
}

.showcase-content > .content-label h1 {
    color: var(--light-color);
}

.showcase-items {
    display: flex;
    flex-direction: column;
}

.showcase-box {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.showcase-box-side {
    width: 30%;
    padding: 1%;
    background-color: var(--secondary-color);
}

.showcase-box-side img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.showcase-box-main {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 70%;
    padding: 2% 5%;
    background-color: var(--light-color);
}

.showcase-box-main-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
/* #endregion */

/* #region Contact */
.contact-content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content > .content-label {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2.5%;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

.contact-side {
    width: 40%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    background-color: var(--primary-color);
}

.contact-main {
    width: 60%;
    padding: 5%;
    border: 1px solid var(--primary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    border-radius: 3px;
}

.contact-form input, .contact-form textarea {
    padding: 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border-radius: 3px;
}

.contact-form textarea{
    min-height: 10rem;
}

.contact-form-input label {
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 0;
    color: var(--primary-color);
    pointer-events: none;
    transition: all 0.25s ease;
}

.contact-form input:focus ~ label, 
.contact-form textarea:focus ~ label,
.contact-form input:not(:placeholder-shown) ~ label, 
.contact-form textarea:not(:placeholder-shown) ~ label
 {
    font-size: 0.75em;
    color: var(--primary-color);
    top: -1rem;
    left: -1rem;
    transition: all 0.225s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: 0;
}

/* #endregion */

/* #region Footer */
footer {
    padding: 0 10%;
    background-color: var(--primary-color);
}

.footer-content {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-color);
}

.footer-socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-socmed p {
    padding: 0.5rem 1rem;
}

.footer-info {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--light-color);
}
/* #endregion */


/* for laptop (1024 - 1440 res) */
@media only screen and (max-width : 1439px) {
    /* #region Common */
    section > div {
        padding: 5%;
    }
    /* #endregion */

    /* #region Header */
    header {
        padding: 1rem 5%;
    }
    /* #endregion */

    /* #region Home */
    .home-side {
        padding-left: 5%;
        padding-right: 5%;
    }

    .home-side h2 {
        font-size: 1.875rem;
    }
    
    .home-side h1 {
        font-size: 3.75rem;
    }

    .home-side h3 {
        font-size: 1.33rem;
    }
    
    .home-side p {
        font-size: 0.9rem;
    }

    .home-picture {
        padding-left: 5%;
        padding-right: 5%;
    }
    /* #endregion */
    
    /* #region About */
    #about-info-1 .details p {
        width: 100%;
    }
    /* #endregion */

    /* #region Stats */
    .stats-content h2 {
        font-size: 1.66rem;
    }
    .stats-content h1 {
        font-size: 2.5rem;
    }
    /* #endregion */

    /* #region Footer */
    footer {
        padding: 0 5%;
    }
    /* #endregion */
}

/* for tablets (768 - 1023 res) */
@media only screen and (max-width : 1023px) {
    /* #region Header */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 1.4rem;
        height: 3px;
        margin: 6px 0;
        background-color: var(--dark-color);
    }

    .nav-bar {
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        /* transition: 0.2s; */
    }

    .nav-bar.active {
        height: max-content;
        background-color: var(--light-color);
        /* border-top: solid 2px var(--tertiary-color); */
        box-shadow: 0 0.1rem 0.3rem var(--dark-color);
    }

    .nav-links li {
        display: block;
        width: fit-content;
        margin: 2rem auto;
        padding: 0;
        text-align: center;
    }
    /* #endregion */

    /* #region Home */
    .home-content {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 10vh;
    }

    .home-side {
        height: 45vh;
        width: 100%;
        padding-left: 5%;
        padding-right: 10%;
    }

    .home-main {
        height: 45vh;
        width: 100%;
    }

    .home-picture {
        height: 75%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .home-overlay.primary {
        /* clip-path: polygon(100% 0, 30% 0, 100% 95%); */
        /* clip-path: polygon(100% 0, 100% 100%, 90% 100%, 98% 90%, 30% 0); */
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 99%, 84% 99%, 94% 84%, 30% 0);
    }
    
    .home-overlay.secondary {
        /* clip-path: polygon(100% 0, 27.5% 0, 100% 97.5%); */
        /* clip-path: polygon(100% 0, 100% 100%, 88% 100%, 96% 90%, 28% 0); */
        clip-path: polygon(100% 0, 100% 100%, 81.5% 100%, 92% 84%, 28% 0);
    }
    
    .home-overlay.tertiary {
        /* clip-path: polygon(100% 0, 25% 0, 100% 100%); */
        /* clip-path: polygon(100% 0, 100% 100%, 86% 100%, 94% 90%, 26% 0); */
        clip-path: polygon(100% 0, 100% 100%, 79.5% 100%, 90% 84%, 26% 0);
    }
    /* #endregion */

    /* #region About */
    .about-content {
        flex-direction: column;
        justify-content: center;
    }
    .about-side {
        width: 100%;
        min-height: 20%;
        padding: 2.5rem;
    }
    
    .about-main {
        width: 100%;
        min-height: 80%;
    }
    /* #endregion */

    /* #region Stats */
    .stats-content h2 {
        font-size: 1.13rem;
    }
    .stats-content h1 {
        font-size: 1.7rem;
    }
    /* #endregion */

    /* #region Resume */
    .resume-content {
        flex-direction: column;
        row-gap: 1rem;
    }

    .resume-column {
        width: 100%;
    }
    /* #endregion */

    /* #region Showcase */
    .showcase-box {
        flex-direction: column;
    }

    .showcase-box-side {
        width: 100%;
    }

    .showcase-box-main {
        width: 100%;
    }
    /* #endregion */

    /* #region Contact */
    .contact-container {
        flex-direction: column;
    }

    .contact-side {
        width: 100%;
    }

    .contact-main {
        width: 100%;
    }
    /* #endregion */
}

/* for mobile (767 below) */
@media only screen and (max-width : 767px) {
    /* #region Common */
    .btn {
        font-size: 1rem;
    }

    .btn-sm {
        width: 50%;
    }
    /* #endregion */

    /* #region Home */
    .home-side {
        height: 55vh;
        row-gap: 0.75rem;
    }

    .home-side h2 {
        font-size: 1.5rem;
    }
    
    .home-side h1 {
        font-size: 3rem;
    }

    .home-side h3 {
        font-size: 1.05rem;
    }
    
    .home-side p {
        font-size: 0.72rem;
    }

    .home-main {
        height: 35vh;
    }
    /* #endregion */

    /* #region Stats */
    .stats-content h2 {
        font-size: 0.98rem;
    }
    .stats-content h1 {
        font-size: 1.5rem;
    }
    /* #endregion */

    /* #region Footer */
    .footer-info h5 {
        font-size: 0.5rem;
    }
    /* #endregion */
}
